# Игнорируем кэш Python
__pycache__/

# Игнорируем виртуальное окружение
.venv/

# Игнорируем папку tr
tr/

# Игнорируем run.sh
run.sh

# Также можно добавить другие стандартные игноры
*.log
*.tmp
*.swp
.DS_Store