# Секретные данные
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Виртуальное окружение
venv/
.venv/
env/

# Сессии
sessions/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db